.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-border-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
