/* Login */

.login_register.text-field:hover,
.login_register.text-field:focused {
    -fx-border-color: #B7B710;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-focus-color: #B7B710;
    -fx-faint-focus-color: transparent;
    
    /* Rounded corners */
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}


/*FIRST HOMEPAGE*/

 /* Main ComboBox background transparent */
.combo-box {
    -fx-background-color: transparent;
}

/* Dropdown arrow button background transparent */
.combo-box .arrow-button {
    -fx-background-color: transparent;
}

/* Dropdown arrow color white */
.combo-box .arrow {
    -fx-mark-color: white;
}

/* Prompt text and selected text in main ComboBox white */
.combo-box .text {
    -fx-fill: white;
}

/* Dropdown list background blue */
.combo-box .list-view {
    -fx-background-color: #0095FF;
}

/* List items background gold-ish with black text */
.combo-box .list-cell {
    -fx-background-color: #A9A81E;
    -fx-text-fill: black;
}

/* Hover effect on dropdown items: blue background with black text */
.combo-box .list-cell:hover {
    -fx-background-color: #0095FF;
    -fx-text-fill: black;
}

/* Selected dropdown item background transparent and black text */
.combo-box .list-cell:filled:selected,
.combo-box .list-cell:filled:selected:hover {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

/*SECOND HOMEPAGE*/
#anchorPaneFooter {
    -fx-border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
    -fx-border-width: 1px 0 0 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6, 0, 0, -2);
}


.button {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.button:hover {
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

.button.selected {
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

