.hover-box {
    -fx-background-color: white; /* default background */
}

.hover-box:hover {
    -fx-background-color: #F3F3F3;
    -fx-cursor: hand; /* optional, changes cursor on hover */
}

.table-view {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-border-color: #ccc;
    -fx-background-color: white;
}



